### COVID-19 and Market Analysis Final Project

In [41]:
pip install alpha-vantage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: alpha-vantage in /usr/local/lib/python3.8/dist-packages (2.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from alpha-vantage) (2.23.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from alpha-vantage) (3.8.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (2.1.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (1.8.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (22.1.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (1.3.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->alpha-vantage) (1.3.3)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.8/dist-packages (from yarl<2.0,>=1.0->aiohttp->alpha-vantage) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->alpha-vantage) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->alpha-vantage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->alpha-vantage) (2022.9.24)

##### 1.Importing Libraries

In [2]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import requests
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline
import datetime
import numpy as np
import matplotlib.dates as mdates

##### 2.Reading Confirmed Cases and Death Cases in two diffrent Dataframes

In [5]:
df_CC = pd.read_csv ('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_DC = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [6]:
df_CC

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205541,205612,205612,205802,205830,205907,206073,206133,206145,206206
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333316,333322,333330,333330,333338,333343,333360,333381,333391,333408
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271057,271061,271061,271079,271082,271090,271096,271100,271102,271107
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,47219,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104676,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333721,333746,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,259164,259164,259164,259164,259164

In [7]:
df_DC

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7834,7834,7834,7834
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,156,157,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1924,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5620,5620,5620,5620,5620

##### 3.Dataframe that aggregates and sums both confirmed cases and deaths on a global level.

##### Remove all the unnecessary columns from both the datasets

In [8]:
df_CC.drop(columns=['Province/State','Lat','Long'], inplace=True)
df_DC.drop(columns=['Province/State','Lat','Long'], inplace=True)

In [9]:
df_CC

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,205541,205612,205612,205802,205830,205907,206073,206133,206145,206206
1,Albania,0,0,0,0,0,0,0,0,0,...,333316,333322,333330,333330,333338,333343,333360,333381,333391,333408
2,Algeria,0,0,0,0,0,0,0,0,0,...,271057,271061,271061,271079,271082,271090,271096,271100,271102,271107
3,Andorra,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,47219,47219,47219,47219,47219
4,Angola,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104676,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333746,333746,333746,333746,333746,333746
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,259164,259164,259164,259164,259164

In [10]:
df_DC

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7834,7834,7834,7834
1,Albania,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,Algeria,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,Andorra,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,157,157,157,157,157
4,Angola,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1924,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,Yemen,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,Zambia,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5620,5620,5620,5620,5620

##### Make duplicate of dataset to analysed the effect of covid on the sharemarket

In [11]:
df_confirmed = df_CC
df_death = df_DC

There are many records for the same country is present in the dataframe let's merge those using groupby on country column and sum the cases

In [23]:
df_confirmed = df_CC.groupby(['Country/Region']).sum()
df_confirmed

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,205541,205612,205612,205802,205830,205907,206073,206133,206145,206206
Albania,0,0,0,0,0,0,0,0,0,0,...,333316,333322,333330,333330,333338,333343,333360,333381,333391,333408
Algeria,0,0,0,0,0,0,0,0,0,0,...,271057,271061,271061,271079,271082,271090,271096,271100,271102,271107
Andorra,0,0,0,0,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,47219,47219,47219,47219,47219
Angola,0,0,0,0,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104676,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
Yemen,0,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
Zambia,0,0,0,0,0,0,0,0,0,0,...,333721,333721,333721,333721,333746,333746,333746,333746,333746,333746
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,259164,259164,259164,259164,259164

In [13]:
df_death = df_DC.groupby(['Country/Region']).sum()
df_death

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7834,7834,7834,7834
Albania,0,0,0,0,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,156,156,156,156,156,157,157,157,157,157
Angola,0,0,0,0,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1924,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5620,5620,5620,5620,5620

In [14]:
df_covid_confirm = df_confirmed.sum(axis=1)
df_covid_confirm = df_covid_confirm.reset_index()

df_covid_confirm.columns = ['Country Name', 'Confirmed Cases']
df_covid_confirm

             Country Name  Confirmed Cases
0             Afghanistan        110214917
1                 Albania        153830108
2                 Algeria        156966802
3                 Andorra         20010202
4                  Angola         50040541
..                    ...              ...
196    West Bank and Gaza        345738380
197  Winter Olympics 2022           163637
198                 Yemen          6744660
199                Zambia        163803740
200              Zimbabwe        115554724

[201 rows x 2 columns]

In [15]:
df_covid_death = df_death.sum(axis=1)
df_covid_death = df_covid_death.reset_index()

df_covid_death.columns = ['Country Name', 'Total Deaths']
df_covid_death

             Country Name  Total Deaths
0             Afghanistan       4673864
1                 Albania       2143775
2                 Algeria       4247580
3                 Andorra        111622
4                  Angola       1048488
..                    ...           ...
196    West Bank and Gaza       3212449
197  Winter Olympics 2022             0
198                 Yemen       1310341
199                Zambia       2248142
200              Zimbabwe       2924366

[201 rows x 2 columns]

##### Merging the above Dataframe Based on Country column.

In [16]:
df_global_level = pd.merge(df_covid_confirm, df_covid_death, on='Country Name')
df_global_level

             Country Name  Confirmed Cases  Total Deaths
0             Afghanistan        110214917       4673864
1                 Albania        153830108       2143775
2                 Algeria        156966802       4247580
3                 Andorra         20010202        111622
4                  Angola         50040541       1048488
..                    ...              ...           ...
196    West Bank and Gaza        345738380       3212449
197  Winter Olympics 2022           163637             0
198                 Yemen          6744660       1310341
199                Zambia        163803740       2248142
200              Zimbabwe        115554724       2924366

[201 rows x 3 columns]

##### 4. Researching on the Stock Market Performance

In [17]:
acc_key = 'I993XQJOKA4I528G'
ts = TimeSeries(key=acc_key,output_format='pandas')
a_american = ts.get_weekly_adjusted('NASDX')
b_canadian = ts.get_weekly_adjusted('TSCO.LON')
c_travel = ts.get_weekly_adjusted('AC') 
d_real_estate = ts.get_weekly_adjusted('PLD')
e_precious_metals = ts.get_weekly_adjusted('CIGI')

In [18]:
df_america = pd. DataFrame(a_american[0])
df_canada = pd.DataFrame(b_canadian[0]) 
df_travel = pd.DataFrame(c_travel[0]) 
df_real_estate = pd.DataFrame(d_real_estate[0]) 
df_precious_metal = pd.DataFrame(e_precious_metals[0])

df_america = df_america.reset_index(level=0)
df_canada = df_canada.reset_index(level=0)
df_travel = df_travel.reset_index(level=0)
df_real_estate = df_real_estate.reset_index(level=0)
df_precious_metal = df_precious_metal.reset_index(level=0)

##### 5. Using AlphaVantage

In [19]:
df_america = df_america[['date','2. high','3. low']]
df_canada = df_canada[['date','2. high','3. low']]
df_travel = df_travel[['date','2. high','3. low']]
df_real_estate = df_real_estate[['date','2. high','3. low']]
df_precious_metal = df_precious_metal[['date','2. high','3. low']]

In [20]:
df_america.columns = ['date', 'US_high','US_low']
df_canada.columns = ['date', 'CAN_high','CAN_low']
df_travel.columns = ['date', 'Travel_high','Travel_low']
df_real_estate.columns = ['date', 'Real_estate_high','Real_estate_low']
df_precious_metal.columns = ['date', 'Metal_high','Metal_low']

##### Merging the stock dataframes

In [21]:
df_stocks = df_america.merge(df_canada,on='date').merge(df_travel,on='date').merge(df_real_estate,on='date').merge(df_precious_metal,on='date')
df_stocks

,date,US_high,US_low,CAN_high,CAN_low,Travel_high,Travel_low,Real_estate_high,Real_estate_low,Metal_high,Metal_low
0,2022-11-25,26.31,25.68,238.8000,229.632,41.00,40.1841,116.940,113.3400,94.980,90.860
1,2022-11-18,26.37,25.95,232.3134,221.900,41.21,38.5900,115.610,110.4200,100.740,91.580
2,2022-11-11,26.25,23.99,230.7000,222.000,41.63,39.5100,119.420,107.1200,101.980,86.470
3,2022-11-04,25.33,23.74,224.3000,212.900,42.53,39.9300,112.250,103.7200,96.075,84.160
4,2022-10-28,25.91,24.85,219.9000,208.100,41.72,40.0100,113.460,102.2200,100.190,94.520
...,...,...,...,...,...,...,...,...,...,...,...
355,2016-01-08,11.52,10.94,150.0000,137.000,30.40,29.1100,42.935,41.0000,44.950,41.475
356,2015-12-31,12.03,11.77,151.5500,147.200,31.19,29.4700,43.600,42.2402,45.130,43.940
357,2015-12-24,11.87,11.70,153.1500,141.000,31.85,29.9000,42.690,41.5900,45.300,43.680
358,2015-12-18,11.96,11.58,153.0360,142.600,31.41,28.0500,42.470,40.4700,45.270,43.760
359,2015-12-11,12.03,11.63,163.2000,143.340,35.21,29.7500,42.850,41.0900,45.380,43.130

##### 6. Appending the info to the data frame.

##### 7.Creating Graphs